@font-face {
    font-family: 'Pobeda';
    font-style: normal;
    font-weight: 400;
    src: local('Pobeda'), url('./pobeda-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Pobeda';
    font-style: bold;
    font-weight: 600;
    src: local('Pobeda'), url('./pobeda-bold.ttf') format('truetype');
}
